.textField {
    width:100%;
    height:100%;
    position: absolute;
}
.textContent {
    width:100%;
    height:100%;
    position: absolute;
}
.textField {
    /*z-index: 1000;*/
}
/*scenes page3*/
.top {
    top: 0;
}
/*scenes page4*/
.iconDialog {
    width:100%;
    height:100%;
    position: absolute;
}
/*scenes page5&page8*/
.popLamp {
	width: 65%;
	height: 79%;
	position: absolute;
	left: 32.5%;
	top: 100%;
}
#lampPop {
	width: 68%;
	height: 77.5%;
	left: 31.9%;
	top: 100%;
	opacity: 0;
}
#pageFiveLeft,#page8Pop {
	width: 32%;
}
/*scenes page7*/
#scenesMerged {
	width: 68%;
	height: 235%;
	left: 31.9%;
	top: 23%;
}
#scenesLamp {
	width: 68%;
	height: 235%;
	left: 31.9%;
	top: 100%;
}
#scenesLamp1 {
	width: 68%;
	height: 235%;
	left: 31.9%;
	top: 23%;
}
#scenesRightTop {
	width: 68%;
	height: 24.1%;
	right: 2px;
}
/*scenes page8*/
#scenesMerged1 {
	width: 68%;
	height: 235%;
	left: 31.9%;
	top: -55%;
}
#scenesRightTop1 {
	width: 68%;
	height: 22%;
	top: -1px;
	right: 0;
}
/*scenes page9*/
#scenesMerged2 {
	width: 68%;
	height: 235%;
	left: 31.9%;
	top: -135%;
}
/*monitor*/
.bottomPop {
	top: 80px;
}
/*monitor*/
.bottomPop {
	top: 80px;
}
#turnToMonitor {
	width: 	200%;
	left:-100%;
}
.moveFinger {
	position: absolute;
}
.tapWrapper,.holdWrapper {
	width: 50%;
	position: absolute;
	top: 67%;
}
.tapWrapper {
	left: 0;
}
.holdWrapper {
	left: 50%;
}
.tap,.hold,.widgets {
	font-weight: bolder;
}
/*IQ*/
.multiSensor {
    top: 0%;
}
.frontDoor {
	width: 70%;
    height: 44%;
    top: 58%;
}
.conditionTime {
	width: 65%;
    height: 36%;
    top: 24%;
}
.ceilingLight {
	width: 70%;
    height: 74%;
    top: 26%;
}
/*topBack*/
.topBack {
	display: flex;
	align-items: center;
}
.tBack {
	width: 8%;
	height: 100%;
}
.tBack svg {
	position: static;
	width: 46%;
	height: 100%;
}
.topBtn {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*-webkit-justify-content: space-around;*/
    /*align-items: center;*/
    /*-webkit-align-items: center;*/
    /*width: 27%;*/
    position: absolute;
    right: 3.4%;
    font-size: 22px;
    text-align: right;
}
.topBtn div {
    display: inline-block;
    width: 82px;
    margin: 0 10px;
    margin-top: 7%;
    text-align: center;
    padding: 1% 0;
    color: #F26F21;
    border: 2px solid;
    border-radius: 18px;
    font-size: 16px;
}
.setBtn {
    position: static;
    width: 12%;
    margin-top: 4%;
}
/*page1*/
.pickName {
	text-align: center;
	font-size: 25px;
    color: #585757;
}
.pickName h3 {
	margin: 4% 0 2%;
	font-weight: normal;
}
input {
	width: 43.7%;
	padding: 0.5%;
    padding-left: 0.5%;
	font-size: 24px;
    font-family: 'DroidSansFallback';
    color: #585757;
	border: none;
	border-bottom: 1px solid #ccc;
	background: url(../img/clear.png) no-repeat 99% 72%;
}
input:focus {
	outline: none;
}
.pickName svg {
	position: static;
	width: 80%;
}
.textField {
	top: 0;
}
/*page 3*/
.container {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
}
.control {
    padding: 0 4.2% 2.5% 4.2%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 88%;
    overflow: hidden;
}
.follow {
    /*position: relative;*/
    background-color: #fff;
    z-index: 10;
    padding: 3% 0;
    font-size: 28px;
    color: #F26F21;
    width: 100%;
    /*top: 12%;*/
}
    /*leftAside*/
.leftAside, .sceneAside {
    color: #585757;
    background-color: #F5F5F5;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 310px;
    flex: 0 0 310px;
    width: 310px;
}

ul, li {
    padding: 0;
}
.leftAside svg, .sceneAside svg {
    position: static;
    width: 11%;
    height: 11%;
}
.room {
    font-size: 0;
}
.device, .sceneGroup {
    display: flex;
    align-items: center;
    padding: 5.8% 0 5.8% 6%;
    margin: 0 8%;
    border-bottom: 1px solid rgba(197, 199, 199, 0.5);
}
.device:last-child {
    border: none;
}
.leftAside h5 {
    padding: 4.2% 0 4.2% 14%;
    font-size: 16px;
    background-color: rgba(126, 126, 127, 0.1);
    font-weight: normal;
}
.leftAside h4, .sceneGroup h4 {
    font-size: 20px;
    padding-left: 6%;
    font-weight: normal;
}
/*scene list*/
.sceneList svg {
    position: static;
    width: 6%;
    margin-right: 4%;
}
.sceneList .scene {
    display: flex;
    justify-content: space-between;
    padding: 4% 0 3%;
    margin: 0 1%;
    font-size: 20px;
}
.toDesktop {
    flex: 0 0 200px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #F16F21;
}
.sceneName {
    display: flex;
    align-items: center;
}
.sceneName h4 {
    padding: 0 5%;
    white-space: nowrap;
    overflow: visible;
    font-weight: normal;
}
.sceneList svg.barBtn {
    width: 22%;
    margin-right: 10%;
    margin-left: 7%;
}
.addScene {
    text-align: center;
    margin: 8% auto;
}
/*page 4*/
.head_content {
    margin-bottom: 5%;
}
.main_content {
    /*margin-top: 16%;*/
    z-index: -1;
}
    /*pop-up-header*/
.popUpHeader {
    display: flex;
    align-items: center;
}
.popUpHeader div {
    overflow: visible;
    white-space: nowrap;
}
.local {
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.popUpHeader svg {
    position: static;
    width: 5%;
    height: 5%;
    margin-right: 6%;
}
.local svg {
    width: 3%;
    margin-right: 0;
}
.body_content {
    padding-right: 4%;
    margin-bottom: 2%;
}
.onOffButton {
    text-align: right;
    /*margin-top: 2%;*/
    margin-bottom: 4%;
}
.onOffButton .btnText {
    display: inline-block;
    font-size: 21px;
    color: rgba(89,87,87,0.5);
    margin: 0 7%;
    line-height: 2;
}
.onOffButton svg {
    position: static;
    width: auto;
}
.RGBController {
    height: 50%;
    padding-bottom: 7%;
    margin-bottom: 3%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*-webkit-justify-content: space-around;*/
}
.RGBController>div {
    margin: 3% 0;
}
.routing_content .navigationHolder {
    position: relative;
}
.routing_content svg {
    position: static;
}
.SolidRout, .RainbowRout, .PatternRout, .RandomRout {
    position: absolute;
    width: 25%;
    left: 0;
    top: -11%;
    color: #595757;
    height: 100%;
}
.RainbowRout {
    left: 25%;
}
.PatternRout {
    left: 50%;
}
.RandomRout {
    left: 75%;
}
.solidCommonTitle {
    color: #9E9E9F;
    font-size: small;
    height: 20%;
}
a {
    text-decoration: none;
    color: #595757;
    text-align: center;
    width: 100%;
    position: absolute;
}
.solidCommonBar {
    display: flex;
    justify-content: space-between;
}
.ring {
    position: static;
    width: 5%;
}
.rgbBar {
    display: flex;
    align-items: center;
}
.rgbBar div {
    width: 9%;
    height: 22px;
    text-align: center;
}
.rgbBar svg {
    display: none;
}
.myColor {
    position: static;
}
.myColor svg {
    display: inline;
    position: static;
    width: 59%;
}
.rgbBar .myColor {
    height: 58px;
}
.inside {
    display: inline-block;
    position: static;
    width: 90%;
    height: 79px;
    left: -14.2%;
    top: -12.4%;
}
.inside svg {
    position: static;
}
.inside+.onOffButton {
    display: inline-block;
}