/*
  Created By Margaret on 2017/04/11
 */
html, body {
    -ms-touch-action : manipulation;
    touch-action     : manipulation;
    font-family      : Akkurat, Arial, sans-serif;
    width            : 100%;
    height           : 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*overflow:hidden;*/
    /*scroll:no;*/
}
* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-user-select   : none;
    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    margin:0;
    padding:0;
    overflow: hidden;
}
#oomiDevice, #imgWrapper, #deviceDetails, #deviceDetails div, .widgetWrapper {
    position: absolute;
}
#oomiDevice, .widgetWrapper{
    width: 100%;
    height:100%;
}
.widgetWrapper {
    border: 1px solid #C7C8C8;
    overflow: hidden;
    border-radius:5px;
}
#imgWrapper {
    height: 100%;
    width: 25%;
    left: 1%;
}
#deviceImg {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 10%;
}
#nestValueWrapper {
    width: 5%;
    height: 100%;
    position: absolute;
    left: 12.5%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
    color: #B4B4B5;
}
#deviceDetails {
    width: 68%;
    height: 100%;
    left: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#deviceDetails div {
    width: 100%;
    display: flex;
    align-items: center;
}
#deviceDetails div:first-child {
    height: 90%;
}
#deviceDetails div:last-child {
    height: 100%;
}
#deviceDetails div:last-child p {
    margin-top: 30px;
}
#deviceDetails p {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#deviceName {
    color: #595757;
    font-size: 18px;
}
#deviceRoom {
    color: #9E9E9F;
    font-size: 0.8em;
}
.irBorderLeft {
    width: 2%;
    height: 100%;
    position: absolute;
    left: -1px;
    z-index: -99;
}
#borderLeftSVG {
    width: 100%;
    height: 100%;
    position: absolute;
}
.signWrapper {
    width: 10%;
    height: 25%;
    position: absolute;
    left: 86%;
    bottom: 10px;
}
.signWrapper svg{
    width: 100%;
    height: 100%;
    position: absolute;
}
/*点击外圈扩散动画(ir widget无)*/
#locationImg {
    width:4%;
}
#app {
    background-color: #ffffff;
}
#app, .circleWrapper, .svg_pic {
    width:100%;
    height:100%;
    position: absolute;
    background-color: transparent;
}

.shakeOn{
    animation-name:innerFadeIn;
    animation-duration:0.4s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    animation-direction:normal;
    animation-iteration-count: infinite;
    -webkit-animation-name:innerFadeIn;
    -webkit-animation-duration:0.4s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-direction:normal;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes  innerFadeIn {
    0% {  -webkit-transform:  rotate(-2deg);  }
    25% {  -webkit-transform:  rotate(0deg);  }
    50% {  -webkit-transform:  rotate(2deg);   }
    75% {  -webkit-transform:  rotate(0deg);   }
    100% {  -webkit-transform:  rotate(-2deg);   }
}
@keyframes innerFadeIn {
    0% {  transform: translate(0, 0) rotate(-2deg);  }
    25% {  transform: translate(0, 0) rotate(0deg);  }
    50% {  transform: translate(0, 0) rotate(2deg);   }
    75% {  transform: translate(0, 0) rotate(0deg);   }
    100% {  transform: translate(0, 0) rotate(-2deg);   }
}

