@charset "UTF-8";
section {
  width: 100%;
}

section h2 {
  color: #0188e1;
  text-align: center;
  margin: .3rem 0 .45rem;
  font-size: 1.4em;
}

section h2 span:last-child {
  display: block;
  width: .62rem;
  height: 2px;
  background: #0188e1;
  margin: .17rem auto;
}

section:hover h2 span:last-child {
  width: 1.8rem;
  -webkit-transition: width 1s;
  transition: width 1s;
}

section > div > img {
  width: 13.66rem;
  height: 5.5rem;
  /* object-fit: contain; */
}

/* 轮播图 */
section.carousel {
  position: relative;
  width: 13.66rem;
  height: 5.5rem;
  overflow: hidden;
}

section.carousel div {
  position: absolute;
  width: 400%;
  /* (3+1)*100% */
  height: 5.5rem;
  z-index: 1;
}

section.carousel div img {
  float: left;
}

section.carousel ul {
  position: absolute;
  z-index: 9;
  bottom: .1rem;
  left: 45%;
  /* 兼容ie */
  left: calc(50% - (.2+.08)*3rem);
  /* 居中 */
  margin: 0;
  padding: 0;
}

section.carousel ul li {
  width: .15rem;
  height: .15rem;
  min-width: 8px;
  min-height: 8px;
  margin: 0 .08rem;
  border: 1px solid #fff;
  background-color: #999;
  border-radius: 50%;
  text-indent: -100rem;
  display: inline-block;
  cursor: pointer;
}

section.carousel ul li.on {
  background-color: #fff;
}

/* 服务项目 */
section.production {
  /*4.2rem*/
}

section.production > div {
  text-align: center;
}

section.production > div > div {
  display: inline-block;
}

section.production > div > div h3 {
  color: #0188e1;
}

section.production > div > div div.path {
  display: inline-block;
  width: 270px;
  height: 270px;
  margin: 20px 130px;
  margin: .32rem 1rem;
  border-radius: 50%;
  border: 1px dashed #0188e1;
  position: relative;
}

section.production > div > div div.path h3 {
  margin: 42% auto 0;
  width: 50px;
}

section.production > div > div div.path div {
  position: absolute;
  width: 72.9px;
  /* .8rem */
  height: 72.9px;
  line-height: 72.9px;
  text-align: center;
  background-color: #0188e1;
  opacity: .8;
  border-radius: 50%;
  color: #fff;
}

section.production > div > div.community .path div:nth-child(1) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}

section.production > div > div.community .path div:nth-child(2) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -9s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -9s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}

section.production > div > div.community .path div:nth-child(3) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -13s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -13s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}

section.production > div > div.community .path div:nth-child(4) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -17s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -17s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -12s infinite alternate;
}

section.production > div > div.community .path div:nth-child(5) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -21s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -21s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -16s infinite alternate;
}

section.production > div > div.community .path div:nth-child(1) {
  top: -29.57143px;
  /* ie9 */
  left: 42%;
}

section.production > div > div.community .path div:nth-child(2) {
  top: 40px;
  right: -29.57143px;
}

section.production > div > div.community .path div:nth-child(3) {
  bottom: 20px;
  right: -12.85714px;
}

section.production > div > div.community .path div:nth-child(4) {
  bottom: 20px;
  left: 0;
}

section.production > div > div.community .path div:nth-child(5) {
  top: 40px;
  left: -29.57143px;
}

section.production > div > div.enterprise .path div:nth-child(1) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}

section.production > div > div.enterprise .path div:nth-child(2) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate;
}

section.production > div > div.enterprise .path div:nth-child(3) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
}

section.production > div > div.enterprise .path div:nth-child(4) {
  -webkit-animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate;
          animation: moveX 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, moveY 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate;
}

section.production > div > div.enterprise .path div:nth-child(1) {
  top: -29.57143px;
  /* ie9 */
  left: 42%;
}

section.production > div > div.enterprise .path div:nth-child(2), section.production > div > div.enterprise .path div:nth-child(4) {
  top: 42%;
  right: -36.45px;
}

section.production > div > div.enterprise .path div:nth-child(3) {
  bottom: -36.45px;
  left: 42%;
}

section.production > div > div.enterprise .path div:nth-child(4) {
  top: 42%;
  /* ie9 */
  left: -29.57143px;
}

@-webkit-keyframes moveY {
  from {
    top: -29.57143px;
  }
  to {
    top: 231.42857px;
  }
}

@keyframes moveY {
  from {
    top: -29.57143px;
  }
  to {
    top: 231.42857px;
  }
}

@-webkit-keyframes moveX {
  from {
    left: -29.57143px;
  }
  to {
    left: 231.42857px;
  }
}

@keyframes moveX {
  from {
    left: -29.57143px;
  }
  to {
    left: 231.42857px;
  }
}

/* 项目案例 */
section.instance {
  width: 13.66rem;
}

section.instance > div {
  width: 13.66rem;
  margin: 0 auto;
  text-align: center;
}

section.instance > div > div.instance {
  display: inline-block;
  min-width: 300px;
  min-height: 80px;
  width: 5.5rem;
  padding: .05rem .1rem;
  margin: 0 .2rem .4rem;
  background-color: #f5f3f1;
  border-radius: .05rem;
  overflow: hidden;
}

section.instance > div > div.instance img {
  display: inline-block;
  min-width: 134px;
  min-height: 106px;
  width: 2rem;
  height: 1.5rem;
  padding: .1rem;
  -o-object-fit: fill;
     object-fit: fill;
}

section.instance > div > div.instance div {
  display: inline-block;
  width: 3rem;
  /* height: 2rem; */
  position: relative;
}

section.instance > div > div.instance div h3 {
  color: #0188e1;
  margin: .13rem 0;
}

section.instance > div > div.instance div p {
  font-size: .9em;
  width: 3rem;
  height: .5rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 610px) {
  section.instance > div > div.instance div p {
    display: none;
  }
}

section.instance > div > div.instance div a.btn {
  width: 1rem;
  min-width: 42px;
}

/* 新闻中心 */
section.new {
  position: relative;
  overflow: hidden;
  width: 12rem;
  margin: 0 .83rem;
  height: 4.2rem;
  min-height: 300px;
  text-align: center;
}

section.new div.new {
  position: absolute;
  width: 32rem;
  min-height: 180px;
  overflow: hidden;
  text-align: left;
}

section.new div.new > div {
  width: 4rem;
  float: left;
  text-align: center;
}

section.new div.new > div h4 {
  margin: .15rem .1rem;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
}

section.new div.new > div p {
  color: #9e9e9e;
  margin: 0 .3rem;
  height: .42rem;
  overflow: hidden;
}

section.new div.new > div img {
  width: 2.5rem;
  height: 1.5rem;
}

section.new div.new > div time {
  display: inline-block;
  color: #9e9e9e;
  margin: .12rem 0;
}

@media screen and (max-width: 610px) {
  section.new {
    height: 7.5rem;
  }
  section.new div.new {
    width: 72rem;
  }
  section.new div.new > div {
    width: 12rem;
  }
  section.new div.new > div p {
    display: none;
  }
  section.new div.new > div img {
    width: 7.5rem;
    height: 4.5rem;
  }
}

section.about {
  padding: 0 .3rem .5rem;
}

section.about div.about {
  text-align: center;
}

section.about div.about div {
  display: inline-block;
  text-align: left;
}

section.about div.about div.introduction {
  width: 9rem;
  min-width: 300px;
  text-align: left;
  vertical-align: top;
}

section.about div.about div.introduction h3 img {
  width: 1.8rem;
}

section.about div.about div.introduction p {
  text-indent: .3rem;
  line-height: 1.8;
}

section.about div.about div > img {
  margin: .2rem;
  height: 2rem;
  width: 3.2rem;
  min-width: 200px;
  min-height: 140px;
  vertical-align: top;
  border-radius: .05rem;
  -webkit-box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
}

/* 关于公司页面 */
.wrapper.about section.introduction div, .wrapper.about section.environment div, .wrapper.about section.join div {
  margin: .2rem .2rem .1rem;
  text-indent: .3rem;
  line-height: 1.8;
}

.wrapper.about section.introduction div:last-child, .wrapper.about section.environment div:last-child, .wrapper.about section.join div:last-child {
  text-align: center;
}

.wrapper.about section.introduction div img, .wrapper.about section.environment div img, .wrapper.about section.join div img {
  width: 4.3rem;
  height: 3.2rem;
  min-width: 300px;
  min-height: 210px;
  margin: .2rem .2rem 0 .1rem;
}

.wrapper.about section.introduction div article, .wrapper.about section.environment div article, .wrapper.about section.join div article {
  display: inline-block;
  width: 8.2rem;
  margin: 0 auto;
}

.wrapper.about section.introduction div article p, .wrapper.about section.environment div article p, .wrapper.about section.join div article p {
  text-indent: .5rem;
}

.wrapper.about section.partner {
  text-align: center;
}

.wrapper.about section.partner div {
  margin: 0 auto;
  padding: 0 .6rem;
}

.wrapper.about section.partner div img {
  display: inline-block;
  width: 2.2rem;
  height: .92rem;
  min-width: 100px;
  min-height: 36px;
  margin: 0 .4rem .24rem;
  border: 1px dashed #eee;
  border-radius: .1rem;
}

.wrapper.about section.join div:last-child {
  text-indent: 0;
  margin: .1rem .4rem;
}

.wrapper.about section.join div:last-child ul {
  text-align: left;
}

.wrapper.about section.join div:last-child ul > li {
  vertical-align: top;
  display: inline-block;
  width: 6rem;
  margin: .15rem;
}

.wrapper.about section.join div:last-child ul > li:nth-child(2n+1) {
  border-right: 1px #c2c2c2 solid;
}

.wrapper.about section.join div:last-child ul > li:last-child {
  border-right: none;
}

.wrapper.about section.join div:last-child ul > li h3 {
  color: #0188e1;
  font-size: 1.3em;
}

.wrapper.about section.join div:last-child ul > li ol li {
  display: block;
  list-style: inside decimal;
  padding-left: 20px;
}

/* 联系我们页面 */
.wrapper.contact section div.info {
  padding: .1rem .8rem;
}

.wrapper.contact section div.info div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 6.5rem;
  min-width: 320px;
}

.wrapper.contact section div.info div p {
  text-align: left;
  line-height: 2;
}

.wrapper.contact section div.info .map {
  text-align: center;
  width: 5rem;
  height: 2rem;
  min-width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: pink;
}

.wrapper.contact section form {
  padding: 0 .7rem .2rem;
}

.wrapper.contact section form div {
  margin: 0 1% 2%;
}

.wrapper.contact section form div.inline {
  display: inline-block;
  width: 47%;
}

.wrapper.contact section form div.block .form-control {
  width: 98%;
}

.wrapper.contact section form button {
  margin-left: 1%;
  padding: 0.04rem .3rem;
}

/* 公司业务页面 */
.wrapper.production section.production {
  overflow: hidden;
  width: 13rem;
  margin: 0 .33rem;
  padding: 0 0 0 .3rem;
  height: auto;
  position: relative;
  background-color: #f5f3f1;
}

.wrapper.production section.production aside {
  vertical-align: top;
  width: 2rem;
  background-color: #f5f3f1;
  position: absolute;
  /* margin-bottom: -9999px;  实现两列等高 */
  /* padding-bottom: 9999px; */
}

.wrapper.production section.production aside > ul > li a {
  display: inline-block;
  padding: .15rem;
  color: #000;
  border-bottom: 1px solid #ccc;
  width: 2.3rem;
  border-left: 4px solid transparent;
}

.wrapper.production section.production aside > ul > li > a {
  width: 2.5rem;
}

.wrapper.production section.production aside > ul > li ul {
  padding-left: .2rem;
}

.wrapper.production section.production aside > ul > li.current > a, .wrapper.production section.production aside > ul > li a:hover {
  border-left-color: #0188e1;
  background-color: #fff;
}

.wrapper.production section.production article {
  width: 10.5rem;
  display: inline-block;
  /* margin-bottom: -9999px; */
  /* padding-bottom: 9999px; */
  padding: 0 .5rem;
  margin-left: 2.5rem;
  background-color: #fff;
}

.wrapper.production section.production article h2 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: .1rem;
  margin: .2rem;
}

.wrapper.production section.production article p {
  text-indent: .2rem;
  line-height: 1.5;
}

.wrapper.production section.production .fixed {
  position: fixed;
  top: .01rem;
}
