section.news {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

section h2 {
  margin-bottom: 2.6%;
  margin-bottom: .1rem;
}

section.page > span, section.page > time {
  color: #c2c2c2;
  font-size: 90%;
  margin: 0 1.48%;
  margin: 0 .2rem;
}

section.page img {
  margin: 1.05%;
  margin: .1rem;
  width: 41.3%;
  height: 266px;
  width: 4rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
  -o-object-fit: cover;
     object-fit: cover;
}

section.page.production article img {
  width: 100%;
  height: 100%;
}

section.page p {
  text-indent: 0;
}

section.page p.intro {
  text-indent: .3rem;
  text-align: left;
  line-height: 2;
  margin: 0;
}
