html, body {
    -ms-touch-action : manipulation;
    touch-action: manipulation;
    font-family      : Akkurat, Arial, sans-serif;
    width            : 100%;
    height           : 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*overflow:hidden;*/
    /*scroll:no;*/
}
* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-user-select   : none;
}


body{
    /*background-image: url("date_picker_background.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
    /*background-clip: content-box;*/
    /*background-attachment: fixed;*/
}
#timeContainer{
    position: absolute;
    height: 100%;
    width: 100%;
}
#divider{
    position: absolute;
    height: 30.000%;
    top:40.000%;
    width: 85%;
    left: 0;
    border-top: solid #e8a482 1px;
    border-bottom: solid #e8a482 1px;
}
.ElementHolder{
    position: absolute;
    width: 17%;
    height: 100%;
}
#hour{
    left:0;
}
#min{
    left: 17%;
}
#day{
    left: 68%;
}
#month{
    left: 51%;
}
#year{
    left: 34%;
}
#AmPm{

}
.showtime{
    position: absolute;
    width: 100%;
    height: 30.000%;
    top:40.000%;
    /*border-top: solid #e8a482 1px;*/
    /*border-bottom: solid #e8a482 1px;*/
}
.scroll{
    color:#c7c8c8;
    width: 100%;
    text-align: center;
    transition: all 0.2s linear 0s;
    font-size: larger;
}
.scrollEffect{
    color: #f16e20;
    font-size: x-large;
}
.scrollContent{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}
.topic{
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    color: #737373;
    font-size: x-small;
}
#done{
    border: solid #c7c8c8 2px;
    border-radius: 15px;
    position: absolute;
    left: 85%;
    width: 14%;
    height: 16%;
    top:42%;
    color: #c7c8c8;
    text-align: center;
    transition: all 0.2s linear 0s;
    display: none;
}
#mySwitch{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top:0;
    background-color: blue;
}