footer {
	background-color: #aaa;
	color: #fff;
	padding: .2rem 0 .04rem 1.2rem;
	height: auto;
	overflow: hidden;/* 清除浮动 */
	div {
		&:first-child {
			float: left;		
		}
	}
	nav {
		margin-bottom: .16rem;
		ul {
			margin-bottom: .06rem;
			li {
				display: inline-block;
				padding: 0 .1rem;
				border-right: 1px solid;
				a {
					color: #fff;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	div {
		margin-bottom: .16rem;
		p {
			display: inline-block;
			margin: 0 .1rem;
		}
	}
}