$color: #0188e1;//主色调
header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .3rem 0 .2rem;
	div {
		display: inline-block;
		img {
			width: 2.531rem;
			height: .81rem;
		}
	}
	nav {
		display: inline-block;
		font-size: 110%;
		ul {
			margin-bottom: 0;
			li {
				display: inline-block;
				padding: .2rem 0;
				margin-left: .2rem;
				position: relative;
				a {
					color: #999;
					display: inline-block;
					&:hover {
						color: $color;
					}
				}
				ul {
					display: none;
					position: absolute;
					background-color: #fff;
					top: .638rem;
					left: -.16rem;
					width: 1.2rem;
					border: 1px solid #eee;
					border-top: none;
					z-index: 5;
					li {
						display: block;
						padding: .1rem .05rem;
						margin: 0;
						&:hover {
							background-color: #eee;
						}
					}
				}
				/* &:hover {
					ul {
						display: block;
					}
				} */
			}
		}
	}
}
