$color: #0188e1;//主色调
/* 轮播图 */
section.carousel {
	position: relative;
	width: 13.66rem;
	height: 5.5rem;
	overflow: hidden;
	div.picture {
		position: absolute;
		width: 400%;
		height: 5.5rem;
		z-index: 1;
		img {
			width: 13.66rem;
			height: 5.5rem;
			float: left;
		}
	}
	ul {
		position: absolute;
		z-index: 9;
		bottom: .1rem;
		left: 45%;/* 兼容ie */
		left: calc(50% - (.2+.08)*3rem);/* 居中 */
		margin: 0;
		padding: 0;
		li {
			width: .15rem;
			height: .15rem;
			min-width: 8px;
			min-height: 8px;
			margin: 0 .08rem;
			border: 1px solid #fff;
			background-color: #999;
			border-radius: 50%;
			text-indent: -100rem;
			display: inline-block;
			&.on {
				background-color: #fff;
			}
		}
	}
}