$color-text: #999;
$color-bg: #993;
body {
	min-width: 1000px;
	font-size: 12px;
	color: $color-text;
}
header {
	width: 100%;
	img {
		width: 100%;
	}
}

footer {
	width: 100%;
	min-width: 1000px;
	background-color: #000;
	margin: 0 auto;
	text-align: center;
	padding: 1.4% 0 2.2% 0;
	.logo, .text-container {
		display: inline-block;
	}
	.logo {
		width: 20%;
		vertical-align: top;
		img {
			width: 22%;
			&:first-child {
				width: 50%;
			}
		}
	}
	.text-container {
		width: 67%;
		text-align: right;
		nav {
			margin-left: 4%;
			ul {
				display: flex;
				justify-content: space-between;
				li {
					display: inline-block;
					padding-right: 4px;
					border-right: 1px solid;
					&:last-child {
						border-right: none;
					}
				}
			}
			.copyright {
				display: flex;
				justify-content: space-between;
				div {
					display: inline-block;
					&.code {
						text-align: left;
					}
				}
			}
		}
		.license {
			text-align: left;
			margin-top: 3%;
			.prove {
				display: flex;
				justify-content: space-between;
				margin-bottom: 3%;
			}
		}
	}
}

.wrapper {
	background: url(../img/bg1.jpg) repeat-y;
	background-size: 100%;
}

.container1 {
	text-align: center;
	.biglogo {
		min-width: 1000px;
		.right {
			width: 1000px;
			position: relative;
			div {
				display: inline-block;
				padding: .8% 1%;
				background: $color-bg;
				color: #fff;
				&.toindex {
					position: absolute;
					top: 0;
					right: 8%;
				}
				&.download {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
		.center {
			h2 {
				img {
					width: 50%;
				}
				span {
					display: block;
					font-size: 46%;
					color: #fff;
					padding: 1%;
					margin-top: -7%;
				}
			}
			.deposit {
				margin-top: 3.7%;
				margin-bottom: 1%;
			}
			.signin {
				color: #fff;
				font-size: 100%;
				a {
					color: #fc3;
					padding: 0 2px;
					text-decoration: underline;
				}
			}
		}
	}
	.game {
		margin-top: 1%;
		ul {
			width: 75%;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			li {
				display: inline-block;
				flex: 1;
				font-size: 5em;
				font-weight: bold;
				&.pc {
					color: #cc6;
					background: url(../img/pc.png) no-repeat 50% 4px;
					background-size: 100%;
					&.on {
						background: url(../img/onpc.png) no-repeat 50% -3px;
						background-size: 100%;
					}
				}
				&.move {
					color: #f96;
					background: url(../img/move.png) no-repeat 50% 4px;
					background-size: 100%;
					&.on {
						background: url(../img/onmove.png) no-repeat 50% -3px;
						background-size: 100%;
					}
				}
				&.on {
					color: #fff;
					background-position: 0 -3px;
				}
			}
		}
		&>.pc {
			.first, .second {
				padding: 2% 0;
				.text {
					span {
						color: #fc3;
					}
				}
				div {
					h3 {
						font-weight: bold;
						color: #fff;
					}
					ul {
						width: 52%;
						li {
							margin: 1%;
						}
					}
					button {
						margin-top: 2%;
					}
				}
			}
			.first {
				background-color: #000;			
				button {
					box-shadow: none;
				}
			}
		}
		.move {
			display: none;
			.first {
				background: #000;
				padding: 3% 0 6%;
				margin-bottom: 1%;
				ul {
					width: 58%;
					color: #fff;
					font-size: 80%;
					margin-top: 3%;
				}
				.deposit-list {
					margin: 0 auto;
					color: #000;
					font-size: 120%;
					tr {
						background-color: #fc9;
						td {
							padding: 1% .5%;						
						}
					}
					tr:first-child {
						background-color: #393;
					}
					tr:nth-child(2) {
						img {
							width: 50%;
						}
						td {
							padding: 5% 0;
							&:nth-child(2n+1) {
								background-color: #fff;
							}
						}
					}
					tr:last-child {
						td:nth-child(2n) {
							background-color: #393;
						}
					}
				}
			}
			.second {
				h3 {
					font-weight: bold;
					color: #ff3;
					margin: 2% 0;
				}
				div {
					border: 2px solid #363;
					padding-bottom: 11%;
					width: 40%;
					margin: 0 auto;
					.prize-list {
						margin: 0 auto;
						tr {
							th, td {
								width: 30%;
								text-align: center;
							}
							th {
								color: #ff3;
								padding: 5%;
							}
							td {
								color: #fff;
								padding: .5%;
							}
						}
					}			
				}
			}
		}
		.rule {
			margin-bottom: 4%;
			h3 {
				font-weight: bold;
				color: #fc3;
			}
			ol {
		    width: 55%;
		    margin: auto;
		    min-width: 1000px;
		    text-align: left;
		    li {
		    	margin: 1%;
		    	span {
		    		display: inline-block;
		    		border-radius: 50%;
		    		color: #000;
		    		background-color: #fc3;
		    		width: 18px;
		    		text-align: center;
		    		margin-right: 1%;
		    	}
		    }		
			}
		}
	}
	button {
		padding: .6% 4%;
		color: #fc3;
		font-size: 140%;
		font-weight: bold;
		border-radius: 30px;
		background: transparent;
		border: 2px solid;
		box-shadow: 6px 6px 2px 0px #363 inset, -4px 7px 1px 0px #363;
	}
}