$color: #0188e1;//主色调
/* 轮播图 */
section.carousel {
	position: relative;
	width: 13.66rem;
	height: 5.5rem;
	overflow: hidden;
	div.picture {
		position: absolute;
		width: 400%;
		height: 5.5rem;
		z-index: 1;
		img {
			width: 13.66rem;
			height: 5.5rem;
			float: left;
		}
	}
	ul {
		position: absolute;
		z-index: 9;
		bottom: .1rem;
		left: 45%;/* 兼容ie */
		left: calc(50% - (.2+.08)*3rem);/* 居中 */
		margin: 0;
		padding: 0;
		li {
			width: .15rem;
			height: .15rem;
			min-width: 8px;
			min-height: 8px;
			margin: 0 .08rem;
			border: 1px solid #fff;
			background-color: #999;
			border-radius: 50%;
			text-indent: -100rem;
			display: inline-block;
			&.on {
				background-color: #fff;
			}
		}
	}
}
section {
	width: 100%;
	h2 {
		font-family: "黑体";
		color: $color;
		text-align: center;
		span {
			display: block;
			width: .52rem;
			height: 2px;
			background: $color;
			margin: .17rem auto;
		}
	}
	&:hover {
		h2 {
			span {
				width: 1.8rem;
				transition: width 1s;
			}
		}
	}
}
/* 服务项目 */
section.production {
	>div {		
		text-align: center;
		>div {
			display: inline-block;
			div.path {
				width: 4.2rem;
				height: 4.2rem;
				margin: 1rem;
				border-radius: 50%;
				border: 1px dashed $color;
				position: relative;
				h3 {
					font-family: "黑体"; 
					color: $color;
					margin: 45% auto 0;
					width: 50px;
				}
				div {
					position: absolute;
					width: .8rem;
					height: .8rem;
					line-height: .8rem;
					text-align: center;
					border: 2px solid $color;
					border-radius: 50%;
				}
				div:nth-child(1) {
					top: 0;
					left: 45%;/* ie9 */
					animation: moveX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,moveY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;	
				}
				div:nth-child(2), div:nth-child(4) {
					top: 1.6rem;
					right: 0;
					animation: moveX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,moveY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
				}
				div:nth-child(3) {
					bottom: 0;
					animation: moveX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,moveY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;;
				}
				div:nth-child(4) {
					left: 0;
					animation: moveX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,moveY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;

				}
			}
		}
	}
}
@keyframes moveY {
	from {
		top: -.4rem;
	}
	to {
		top: 3.7rem;
	}
}
@keyframes moveX {
	from {
		left: -.4rem;
	}
	to {
		left: 3.7rem;
	}
}