section {
	text-align: center;
	h2 {
		margin-bottom: .1rem;
	}
	&.page {
		padding: .2rem 1rem;
		>span, >time {
			color: #c2c2c2;
			font-size: 90%;
			margin: 0 .2rem;
		}
		img {
			margin: .1rem;
			width: 4rem;
			height: 3rem;
			border: 1px solid #ccc;
			border-radius: 2px;
			box-shadow: 2px 2px 2px #ccc;
			object-fit: cover;
		}
		p {
			padding: .1rem 1rem;
			text-indent: 0;
		}
		p.intro {
			text-indent: .3rem;
			text-align: left;
			line-height: 2;
			margin: 0;
		}
	}
}