$color: #0188e1;//主色调
//媒体查询规则
$width-small: 400px;
$width-medium: 760px;
$width-large: 1200px;
@mixin responsive($width) {
	@if $width == wide-screens {
		@media screen and(min-width: $width-large) {
			@content;
		}
	}
	@else if $width == medium-screens {
		@media screen and (max-width: ($width-large)-1) and (min-width: ($width-small)+1) {
			@content;
		}
	}
	@else if $width == small-screens {
		@media screen and (max-width: $width-small) {
			@content;
		}
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}
nav, section, header, footer, article, aside {
	display: block;
}
a, a:hover {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
.wrapper {
	width: 13.66rem;
}
/* 网站默认字体大小 */
body {
	font-family: "宋体",'Microsoft Yahei'，Arial, Helvetica, sans-serif;
	font-size: 16px;
	@include responsive(wide-screens) {
		font-size: 16px;
	}
	@include responsive(medium-screens) {
		font-size: 14px;
	}
	@include responsive(small-screens) {
		font-size: 12px;
	}
}
/* 默认按钮样式 */
button {
	border: 1px solid transparent;
	background-color: $color;
	color: #fff;
	padding: .04rem .08rem;
	border-radius: .1rem;
	&:hover {
		background-color: #fff;
		border-color: $color;
		color: $color;
		transition: all 1s;
	}
}